* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#new {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#box {
  width: 300px;
  height: auto;
  margin: auto;
  padding: 40px;
  border: 1px solid;
}

#btn-login {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.add_sort {
  width: 40px;
  height: 35px;
  margin: 6px;
  border: none;
}

.User{
  width: 100px;
  height: 30px;
  background-color: whitesmoke;
  text-align: center;
  padding-top: 2px;
  border-radius: 8px;
  
}
table {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

#box>input{
  width: 220px;
  padding: 5px;
}

#user-info{
  width: 300px;
  height: 300px;
  border: 1px solid;
  margin: auto;
  padding: 30px;
}

.css{
  width: 100px;
  height: 35px;
  border: none;
}